/*

General

*/
body{
    background: #000;
    -webkit-font-smoothing:antialiased;
    font:15px arial;
    color:#fff;
  
  }

  body::after,body::before{
    content:"";
    position:fixed;
    top:0;
    bottom:0;
    width:8px;
    z-index:999;
    border-radius: 0px 0px 5px 5px;
  }
  body::before{
    left:0;
  
    background:linear-gradient(#000,#036c45,#048c5c,#04aa6d,#000);
    animation:lightEmittingBorder 4s infinite
  
  }
  body::after{
    right:0;
    background:linear-gradient(#000,#036c45,#048c5c,#04aa6d,#000);
    animation:lightEmittingBorder 4s infinite;
  
  }
  @keyframes lightEmittingBorder{
    0%{
        height:0;
        opacity:0
    }
    50%{
        height:100%;
        opacity:1
    }
    100%{
        height:0;
        opacity:0
    }
  }

  ::selection {
    background: rgb(253, 253, 253);
    color:#000000;
    
  }
  ::-webkit-scrollbar {
    width: 10px;
    display:none
  } 


/*

NAVIGATION

*/
.menu-tab {
    top: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    background-color: #000000a4; /* Adjust the background color as needed */
    text-align: center;
  }
  
  .menu-tab h1 {
    color: #ffffff9d;
    font-size: 35px;
    margin-left: 10px;
    flex-grow: 1;
  }
  
  
  .menu-tab h1:hover{
    color:#fff
  }
  .menu-tab img{
    height:10%;
    width:5%
  }
  .menu-tab ul{
    display:inline-flex;
    list-style:none;
    transition: all 0.3s ease-in-out 0s
  }
  .menu-tab ul li{
    width:120px;
    margin:10px;
    padding-top:10px;
    padding-bottom: 10px;
    transition:0.5s ease
  }
  .menu-tab ul li a{
    text-decoration:none;
  
    color:rgb(152, 155, 154);
    font-size:15px
  
  }
  .menu-tab ul li a:hover{
    color:#fff
  }
  @media screen and (max-width: 768px) {
    .menu-tab{
    background-color: transparent;
    position: sticky;
    background-color:#000000bd;
    backdrop-filter: blur(10px);
    margin: 10px;
  
    padding: 10px;
    border-radius: 10px;
    }
    .menu-tab ul {
      flex-wrap: wrap;
      padding:1px;
    }
  
    .menu-tab ul li {
      text-align: center;
      margin:1px;
  
    }
    .menu-tab h1 {
      display: none; /* Hide the h1 on mobile */
    }
  
  
  }
  .menu-tab .fas{
    margin-right:1px
  }
  .menu-tab ul li:hover{
    background-color:#04aa6d;
    border-radius:50px;
    box-shadow:0 0 20px 15px #036c45;
  
  }
.blogtitleheader{
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}
.blogbyline{
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    color:grey;
    font-weight: 650;
}
.blogcontent{
    color:#fff;
    padding: 10px;
    margin:10px;
    word-spacing: 10px;
    letter-spacing: 3px;
    line-height: 40px;
}
.bold{
    color:#20b47e
}
.footer {
  background: linear-gradient(to right, #036c45, #0452aa, #048c5c, #04aa6d, #20b47e,#105072) ;
  background-size: 600% 600%;
  border-radius: 5px;
  margin: 0;
  animation: gradient 10s ease infinite;
  padding: 50px;
  text-size-adjust: auto;
  margin-top: 50px;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }

  50% {
      background-position: 100% 50%;
  }

  100% {
      background-position: 0% 50%;
  }
}
.footericons {
  text-decoration: none;
  color:#fff;
  align-items:center;
  justify-content:center;
  text-align:center;
}
.footericons i{

  text-decoration: none;
  align-items:center;
  justify-content:center;
  text-align:center;  
  font-size: 25px;
  padding:5px;
  background:-webkit-linear-gradient(white,rgba(245, 245, 245, 0.918),#fafafa,#000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color:transparent;

}
.footericons i:hover{
  background:-webkit-linear-gradient(black,rgb(36, 35, 35));
  -webkit-background-clip: text;
  -webkit-text-fill-color:transparent;  }