body {
  font-family: 'Inconsolata', 'Droid Sans Mono', 'Source Code Pro', monospace;
  background-color: #000;
  color: #fff;
  overflow: hidden;
}




#title {
  animation: blink 2s infinite;
  font-size: min(10px, 1.5vw);
  color: #00ff00;
  text-shadow: 0 0 10px #00ff00;
}

#title:hover {
  animation: flash 0.5s infinite alternate;
}

@media (max-width: 600px) {
  #title {
    font-size: 8px;
  }
}

@keyframes blink {
  50% {
    opacity: 0.1;
    text-shadow: 0 0 5px #00ff00;
  }
  100% {
    opacity: 1;
    text-shadow: none;
  }
}


@keyframes flash {
  50% {
    background-color: #00ff00;
    color: #000;
  }
  100% {
    background-color: transparent;
    color: #00ff00;
  }
}

.window-button {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.1);
  color: #fff;
  cursor: pointer;
  font-size: 1.2em;
  height: 30px;
  justify-content: center;
  align-items: center;
  width: 30px;
  transition: all 0.2s;
}

.window-button:hover {
  background-color: #00ff00;
  color: #000;
}

.user {
  color: #960050;
  padding: 2px 4px;
  border-radius: 4px;
  transition: all 0.2s;
}

.user:hover {
  background-color: #960050;
  color: #fff;
}

.cmd {
  color: blue;
  transition: all 0.2s;
}

.cmd:hover {
  color: #00ff00;
}

#terminal {
  width: 80%;
  height: auto;
  margin: 20px auto 0 auto;
  padding: 20px;
  border: 1px solid #aaa;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 #aaa;
  transition: all 0.2s;
  }

#terminal:hover {
  box-shadow: 0 0 20px 0 #00ff00;
}

#terminal p {
  margin: 0;
}

#terminal ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#terminal li {
  padding: 0 10px;
}

#terminal li:before {
  content: '$';
  color: #00ff00;
  animation: pulse 2s infinite alternate;
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

#terminal a {
  color: #0ff;
  text-decoration: none;
  transition: all 0.2s;
}

#terminal a:hover {
  background-color: #0ff;
  color: #000;
}

#terminal a:active {
  transform: scale(0.9);
}

